*{
    color: white;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
}
.leftBar{
      width: 20%;
    height: 100%;
    float: left;
    border: 5px outset #aaa;
    text-align: center;
    display: inline-block;
}
button, a { 
    display:block;
    border: 5px outset #bbb;
    margin: 15px;
    padding: 15px;
    width:100%;
    margin: 0;
    margin-bottom: 15px;
}
.rightBar{
    width: 20%;
    height: 100%;
    float: right;
    border: 5px outset #aaa;
    text-align: center;
    display: inline-block;
}

.rightBar p { border: 5px outset #bbb;
    margin: 5px;
    padding: 15px 0 15px 0;
}

#last { 
    border: 5px solid #aaa;}
main {
    width:55%;
    display: inline-block;
    margin: 15px
    
}
main img {
    width: 100%;
}

.active {
    background-color: white;
    border-style: inset;
    color: black;
}
#nonEx {
    color: black;
    border: none;
}