
#Ground0{
    text-align: center;
}
#Ground1{display: none;
}
#Ground1.active{
    display:block;
}
#Ground2{display: none;
}
#Ground2.active{
    display:block;
}
#Ground3{display: none;
}
#Ground3.active{
    display:block;
}

#Ground1 li{
    width: 30%;
    text-align: center;
    padding: 0 40px;
    display: inline;
}
